<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {%- for block in section.blocks -%}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}" class="{% if forloop.first %}active{% endif %}"></li>
        {%- endfor -%}
    </ol>

    <div class="carousel-inner">
        {%- for block in section.blocks -%}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ block.settings.sliders | img_url: '1920x' }}">
            </div>
        {%- endfor -%}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% schema %}
    {
        "name": "Homepage Carousel",
        "blocks": [{
            "type": "sliders",
            "name": "Sliders",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "sliders",
                    "label": "Upload Slider Image"
                }
            ]
        }]
    }
{% endschema %}

<style>
    .carousel-indicators {
        bottom: 30px;
    }
</style>